@font-face{
    font-family: 'raleway';
    src: url(/myportfolio/font/Raleway-Light.tff)
}

@font-face{
    font-family: 'quicksand';
    src: url(/font/quicksand/Quicksand-Medium.ttf)
}


@media only screen and (min-width: 600px){
    
    
    body {
        padding: 0vw;
        margin: 0vw;
        font-family:quicksand;
    }
    
    .nav-bar{
        overflow: hidden;
        background:turquoise;
        position: fixed;
        top: 0;
        width: 100%;
        font-family: raleway;
        font-size: 5vw;
        height: 5vw;
        display: grid;
        grid-template-columns:  70% auto auto auto;
       float: right;
       color: #f2f2f2;
       text-align: center;
       padding: 10px 16px;
    }
    
    
    .nav-bar a:hover {
      background-color: #4CC1BE;
      color: black;
    }
    
    a:link, a:visited {
      
      color: white;
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin-top: 1vw;
      
    }
    
    
    
    .div1
    {
        background: #FFEEA6;
        width: 100%;
        height: 45vw;
        margin: auto;
        text-align: center;
        margin-top: 5vw;
    }
    
    h1{
        text-align: center;
        padding-top: 8vw;
    }
    p{
        text-align: center;
    }
}